#stopwatch {
    width: 40px;
    height: 40px;
}
#gameWindow {
    background: rgba(214, 214, 214, 0.98);
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    border-radius: 10px;
    border-color: rgb(195, 200, 198);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    position: relative;
}
#text {
    margin: 10px;
}

#text span {
    font-size: large;
}
#inputElem {
    margin-bottom: 30px;
    width: 50%;
    font-size: large;
    margin-left: 10px;
}
#typedTextElem {
     background: green;
 }
#mistakeElem {
    background: red;
}
#textElem {
}
#timerElem {
    z-index: 1;
    position: absolute;
    right: 28%;
    bottom: 23%;
}
#timerContent {
    position: relative;
    width: 40px;
}

#timerBox {
    position: absolute;
    right: 3%;
    bottom: 5%;
}
#cpsElem {
    position: absolute;
    bottom: 10%;
    left: 3%;
}
#live {
    width: 40px;
    height: 40px;
}
#gameLink {
    position: absolute;
    text-align: center;
    top: 10%;
    right: 3%;
    width: 10%;
}
#buttonBack{
    width: 100%;
    background: #4ac5ff;
    border-radius: 25px;
    transition: 0.8s;
    color: #000;
    min-width: 80px;
    height: 40px;
    font-size: 14px;
    border: none;
}
#buttonBack:hover{
    transform: scale(0.96);
}
